body{
    font-family: 'Poppins', sans-serif;
    display: flex;
}
.sidebar{
    box-sizing: border-box;
    display: block;
    background: #0C0B0B;
    border-radius: 24px;
    height: 98vh;
    width: 8%;
    margin-right: 3em;
    position: fixed;
    z-index: 1;
}
.sushi-logo{
    padding-top: 3em;
    margin-left: 2em;
}
.sidebar a{
    display: block;
    margin-top: 4em;
    margin-left: 2em;
}
.shopping-cart{
    background-color: #F1D5BB;
}
.cart{
    margin-left: 13%;
    width: 50%;
}
.order{
    padding: 2em 1em;
    background-color: #F1D5BB;
}
.foodCart{
    display: flex;
    margin-bottom: 5%;
}
.foodCart .food{
    width: 90px;
    height: 90px;
}
.foodCart div{
    margin-left: 5%;
}
.foodCart .title{
    /* margin-right: 4em; */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 31px;
    color: #000000;
}
.foodCart .title .break{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}
.foodCart .cancel{
    margin-left: 7em;
    margin-top: 2em;
}
.foodCart a img{
    margin-right: 4em;
}
.foodCart p{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}
.foodCart p strong{
    background-color: white;
    padding: 5px 10px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}
.apply{
    margin-left: 5%;
    width: 30%;
    margin-top: 9%;
}
.apply div h3{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
}
.confirmOrder{
    background-color: #F1D5BB;
    padding: 1em 2em;
}
.confirmOrder .sub{
    display: flex;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    color: rgba(0, 0, 0, 0.8);
}
.confirmOrder .sub .price{
    margin-left: 1em;
}
.confirmOrder button{
    width: 90%;
    height: 3em;
    background-color: black;
    color: white;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
}
.promoCode{
    border: 1px solid #F1D5BB;
    padding: 1em 2em;
}
.promoCode h3{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
}
.promoCode input{
    border: 1px solid #F1D5BB;
    height: 3em;
    width: 90%;
    margin-bottom: 1em;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 38px;
    color: rgba(0, 0, 0, 0.6);
}
.promoCode button{
    width: 50%;
    height: 3em;
    background-color: black;
    color: white;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px; 
}
.footer{
    margin-top: 18%;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
}